services: 
  back-end: 
    build: .
    ports:
     - "7001:7001"
    environment:
      - PORT=7001
    depends_on:
      - mongo
      - redis  

  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes: 
      - mongo-db:/data/db

  redis:
    image: redis

volumes:
  mongo-db: