services:
  nginx:
    ports: 
      - "7001:80"
    depends_on:
      - back-end
  back-end:
    build: 
      context: .
      args:
         NODE_ENV: development
    volumes:
      - ./:/app
      - /app/node_modules
    env_file:
      - ./.env.dev
    environment:
      # - NODE_ENV=development
      # - MONGO_IP=mongo
      # - MONGO_PORT=27017
      # - SESSION_SECRET=secret
      
    command: npm run dev
