services: 
  nginx:
    image: nginx:stable-alpine
    ports: 
      - "7001:80"
    volumes: 
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
  back-end: 
    build: .
    environment:
      - PORT=7001
    depends_on:
      - mongo
      - redis  

  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes: 
      - mongo-db:/data/db

  redis:
    image: redis

volumes:
  mongo-db: